.bg-color{
    background-color:#000000 !important;
}


.navbar-brand{
    color: rgb(236, 206, 34) !important;
    font-weight: bold;
    font-size: x-large;
}

.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link{
    color: grey;
}

.navbar-light .navbar-nav .nav-link{
    padding: 0px 25px;
    color: grey;
}

.navbar-light .navbar-nav .nav-link:hover{
    color: rgb(236, 206, 34);
    font-weight: bold;
}

#navbarNavAltMarkup{
    margin-left: 740px;
    
    
}

.navbar-toggler{
    background-color: rgb(236, 206, 34);
}

.container{
    margin-bottom: 80px;
    
    
   
}


.navbar-light{
  background-color:#141212!important; 
  border-bottom: 1px solid rgb(236, 206, 34); 
}

.text-left{
    color:rgb(236, 206, 34) ;
    padding: 0px;
    font-size: 80px;
    
}
.my-pic{
    width: 550px;
    height: 550px;
}
